@import url( 'https://fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=cyrillic');
@import "buttons", "forms";

body {
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
  color: $primary-text-color;
  font-size: 16px;
  height: 100vh;
}
@for $i from 1 through 3 {
  h#{$i} {
    font-size: 3.5rem - ($i - 1);
    font-weight: bold;
  }
}

h4 {
  font-size: 18px;
}

.site {
  &-header {}

  &-content {
    flex: 1;
  }

  &-footer {
    background-color: $secondary-color;
    @include padding(40px, 0, 16px, 0);
  }
}

.banner {
  position: relative;
  min-height: 80px;
}

.logo {
  &-prozorro {
    margin-left: 37px;
  }
}

.accredit {
  // display: inline-block;
  margin-left: 9px;
  margin-bottom: 0.2rem;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.2;
}

.contact-info {
  display: inline-block;
  @include padding(0, 15px, 0, 15px);
  line-height: 1.3;
  vertical-align: middle;

  a[href^="tel:"] {
    color: $primary-text-color;
    text-decoration: none;
  }

  &-mini {
    padding: 40px 0;

    a[href^="tel:"] {
      color: $primary-text-color;
      text-decoration: none;
    }
  }
}

.menu {
  &-mini {
    &-list,
    &-reg {
      position: fixed;
      display: none;
      background-color: $reverse-color;
      @include padding(60px, 15px, 60px, 15px);
      top: 0;
      width: 100%;
      z-index: 100;
    }

    &-list {
      @include padding(40px, 0, 40px, 0);
      width: 50%;
      right: 0;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid $border-color-light;

        li {
          margin-bottom: 30px;

          a {
            font-size: 18px;
          }
        }
      }

      &-footer {
        position: fixed;
        display: none;
        background-color: $secondary-color;
        @include padding(60px, 15px, 60px, 15px);
        bottom: 0;
        right: 0;
        width: 50%;
        z-index: 100;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin-bottom: 30px;

            a {
              font-size: 18px;
            }
          }
        }
      }
    }

    &-close {
      position: absolute;
      background-color: $reverse-color;
      top: 30px;
      right: 30px;
      border: 0;

      &-footer {
        position: absolute;
        background-color: $secondary-color;
        top: 30px;
        right: 30px;
        border: 0;
      }
    }

    &-title {
      margin-bottom: 30px;
    }
  }
}

.overlay {
  position: absolute;
  background: rgba(25,31,64,.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.jumbotron {
  &-content {
    position: relative;
    color: $reverse-text-color;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-subtitle {
    font-size: 26px;
  }

  &-factoid {
    @include padding(18px, 15px, 18px, 26px);
    border-left: 2px solid $primary-color;

    a {
      color: $reverse-text-color;
      border-bottom: 1px solid rgba(255,255,255,.5);

      &:hover {
        color: $reverse-text-color;
        border-bottom: 1px solid rgba(255,255,255,1);
        text-decoration: none;
      }
    }
  }
}

.publications {
  margin-bottom: 90px;

  &-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &-search {
    position: relative;
    background-color: $secondary-color;
    @include padding(30px, 40px, 12px, 40px);
    border: 1px solid $border-color-light;
  }

  &-overlapped {
    margin-top: calc(-117px - 1rem);
  }

  &-item {
    background-color: $reverse-color;
    @include padding(35px, 40px, 45px, 40px);
    border: 1px solid $border-color-light;

    &-title {
      margin-bottom: 20px;
    }
  }

  &-lot {}

  &-org {
    margin-bottom: 10px;

    &-info {
      padding: 20px;
    }
  }

  &-type {
    border-left: 1px solid $border-color-dark;
    @each $type in fa, mlb, dutch {
      &-#{$type} {
        background-image: url('../images/#{$type}-icon.png');
        background-repeat: no-repeat;
        background-position: 20px 50%;
        border-left: 1px solid $border-color-dark;
        @include subtitle-secondary;

        p {
          padding-left: 60px;
          line-height: 3.5;
        }
      }
    }
  }

  &-status {}

  &-left {
    &-time {
      font-size: 18px;
    }
  }

  &-starting {
    &-price {
      &-value {
        font-size: 18px;
      }
    }
  }
}

.subtitle {
  &-primary {
    color: $primary-color;
    font-weight: normal;
  }

  &-secondary {
    color: $secondary-text-color-dark;
    font-weight: normal;
  }
}

.how-it-works {
  margin-bottom: 60px;

  &-title {
    // margin-bottom: 54px;
  }

  &-list {
    font-size: 18px;

    &-item {
      margin-bottom: 20px;
    }

    &-title {
      color: $primary-text-color;
    }

    &-description {
      padding-left: 46px;
      padding-right: 50px;
      font-weight: normal;
      font-size: 16px;

      &:before {
        position: absolute;
        content: "\2014";
        font-size: 36px;
        line-height: 0.5;
        color: $primary-color;
        left: 0;
        top: 0;
      }
    }
  }
}

.register {
  &-block {
    background-color: $secondary-color;
    display: inline-block;
    min-width: 100%;
    @include padding(7px, 3.8vw !important, 70px, 3.8vw !important);

    h3 {
      margin-top: 45px;
    }

    p {
      font-size: 14px;
    }
  }
}

.statistics {
  background-color: $primary-color;
  @include padding(60px, 0, 82px, 0);

  p {
    margin: 0;
    color: $reverse-text-color;
    line-height: 1.2;
  }

  &-numbers {
    font-size: 74px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.latest {
  &-news {
    background-color: $secondary-color;
    @include padding(5.2vw, 0, 5.2vw, 0);

    &-thumbnail {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      img {
        max-width: 100%;
      }
    }
  }
}
@each $block in how-it-works, latest-news {
  .#{$block}-title {
    @include margin-bottom(54px);
  }
}

.about {
  &-us {
    @include padding(100px, 0, 100px, 0);
  }
}

.lot {
  @include padding(60px, 0, 100px, 0);

  &-title {
    font-weight: normal;
  }

  &-info {
    position: sticky;
    top: 50px;
    background-color: $secondary-color;
    @include padding(40px, 40px, 40px, 40px);
  }

  &-subdescription {
    background-color: $secondary-color;
    padding: 5px;
    @include subtitle-secondary;
  }

  &-doc {
    padding-left: 72px;
    @each $type in doc, txt, jpg, png, xls, pdf, href, default {
      &-#{$type} {
        background-image: url('../images/icon-doc-#{$type}.png');
        background-repeat: no-repeat;
        background-position: 15px 0;
      }
    }
  }
}

.news {
  margin-bottom: 90px;

  &-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &-item {
    position: relative;
    padding-bottom: 45px;
    margin-bottom: 41px;

    &:after {
      position: absolute;
      content: " ";
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      border-bottom: 1px solid $border-color-light;
    }

    &-title {
      a {
        font-weight: normal;
        color: $primary-text-color;

        &:hover {
          color: $primary-link-color;
          border-bottom: 1px solid;
        }
      }
    }
  }

  &-post {
    position: relative;
    @include padding(60px, 0, 150px, 0);

    &-content {
      padding-bottom: 60px;

      &:after {
        position: absolute;
        left: 15px;
        bottom: 0;
        content: " ";
        width: calc(100% - 30px);
        border-bottom: 1px solid $border-color-light;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-weight: normal;
    }

    &-image {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }

  &-date {
    background: url('../images/icon-calendar.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 20px;
    color: $primary-color;
  }
}

.other {
  &-news {
    ul {
      // position:sticky;
      // top:50px;
      list-style-type: none;
    }

    &-title {
      margin-bottom: 40px;
      font-weight: bold;
      line-height: 22px;
    }

    &-item {
      margin-bottom: 40px;

      p {
        a {
          color: $primary-text-color;
        }
      }
    }
  }
}

.copyright {
  color: $secondary-text-color;
  padding-top: 14px;
  // border-top: 1px solid;
}

.faq {
  &-item {
    position: relative;
    @include padding(20px, 40px, 20px, 40px);
    margin-bottom: 40px;

    &:after {
      position: absolute;
      content: " ";
      right: 40px;
      bottom: 0;
      width: 60%;
      border-bottom: 1px solid $border-color-light;
    }

    &-header {
      margin-bottom: 20px;
    }
  }
}

.registration {
  &-block {
    background-color: $secondary-color;
    margin-top: 30px;
    margin-bottom: 60px;
    @include padding(40px, 30px, 40px, 30px);

    .form-check-label {
      font-size: 14px;
    }
  }
}

.custom {
  &-addon {
    position: relative;
    background-color: $reverse-color;
    border-left: 0 !important;
    color: $primary-link-color;

    &:hover {
      &:after {
        position: absolute;
        left: 12.5%;
        bottom: 8px;
        width: 75%;
        content: "";
        border-bottom: 1px dashed;
      }
    }
  }

  &-radio {
    background-color: $reverse-color;
    border: 1px solid $border-color-dark;

    &.active {
      background-color: $primary-color;
      color: $reverse-color;

      &.focus,
      &:focus {
        box-shadow: inset 0 0 20px rgba(0,0,0,.25);
      }
    }
  }

  &-file {
    background-color: $reverse-color;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;

    &-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      //   & + label {
      //     font-size: 1.25em;
      //     font-weight: 700;
      //     color: white;
      //     background-color: black;
      //     display: inline-block;
      //   }
      //
      //   & + label:hover,
      //   &:focus + label {
      //     background-color: red;
      //   }
    }

    &-button {
      position: absolute;
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      align-items: center;
      background-color: $primary-color;
      padding: 1rem;
      top: 0;
      right: 0;
      bottom: 0;
      color: $reverse-text-color;
      cursor: pointer;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      transition: box-shadow 0.2s ease;

      &:active,
      &:focus {
        box-shadow: inset 0 0 20px rgba(0,0,0,.25);
      }
    }

    &-string {
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      border: 1px solid $border-color-dark;
      border-radius: 0.25rem;
      white-space: nowrap;
    }

    &-clear {
      display: none;
    }
  }

  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid $secondary-text-color;
    border-radius: 2px;

    .form-check-input:checked ~ & {
      background-color: $primary-color;
      background-image: url('../images/check.png');
      background-repeat: no-repeat;
      background-position: center;
      border-color: $primary-color;
    }

    &:after {
      content: "";
      position: absolute;
      display: none;
      .form-check-input:checked ~ & {
        display: block;
      }
    }
  }
}
/*custom select*/
.form-sel {
  width: 100%;
  height: 100%;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: $border-color-dark;
    pointer-events: none;
    position: absolute;
    right: 30px;
    z-index: 1;
  }

  &:after {
    content: "";
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    margin-top: -2px;
  }
}

.form-sel select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.office {
  &-header {
    background-color: $secondary-color;
  }
}

.auctions,
.bids,
.messages {
  @include padding(0, 0, 100px, 0);
  &-header {
    @include padding(40px, 0, 40px, 0);
  }

  &-title {
    // margin-top: 54px;
    // margin-bottom: 40px;
  }

  &-control {
    @each $control in edit, publish, copy, trash, view {
      &-#{$control} {
        background-image: url('../images/#{$control}.png');
        background-repeat: no-repeat;
        background-position: 15px center;
        @include padding(10px, 15px!important, 10px, 46px!important);
      }
    }
  }

  &-list {
    font-size: 14px;

    thead {
      background-color: $secondary-color;
    }

    label {
      white-space: nowrap;
    }

    .form-check {
      position: relative;

      &-input {
        position: absolute;
        opacity: 0;
      }
    }
  }

  &-item {
    &-menu {
      padding: 0;

      a {
        display: block;
        @include padding(15px, 24px, 15px, 24px);
        font-size: 14px;
        color: $primary-text-color;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
  &-new {
    font-weight: bold;
  }
}
/* ---------------------------------------
    Readjusted Bootstrap Navs Styles
   --------------------------------------- */
.bg {
  &-primary {
    background-color: $primary-color !important;
    min-height: 51px;
    @include padding(0, 0, 0, 0);

    .navbar-nav {
      .nav {
        // &-item {
        //   &:first-child {
        //     a {
        //       padding-left: 0;
        //     }
        //   }
        // }
        &-link {
          @include padding(13.5px, 1.7vw, 13.5px, 1.7vw);
          color: $reverse-text-color;
          transition: background-color 0.2s;

          &:hover {
            background-color: lighten($primary-color, 10%);
            color: $reverse-text-color;
          }
        }
      }
    }

    .social {
      .nav {
        &-item {}

        &-link {
          @include padding(13.5px, 15px, 13.5px, 15px);
        }
      }
    }
  }

  &-secondary {
    background-color: $secondary-color !important;
    @include padding(0, 0, 0, 0);

    .navbar-nav {
      .nav {
        &-link {
          @include padding(13.5px, 1.7vw, 13.5px, 1.7vw);
          color: $primary-text-color;
          transition: background-color 0.2s;
          text-decoration: underline;

          &:hover {
            background-color: none;
            color: $primary-color;
          }
        }
      }
    }

    .social {
      .nav {
        &-item {}

        &-link {
          @include padding(13.5px, 15px, 13.5px, 15px);
        }
      }
    }
  }
}
/* --------------------------------
  Readjusted Bootstrap Link Styles
---------------------------------- */
a {
  &:hover {
    text-decoration: none;
  }
}
/* --------------------------------
Readjusted Bootstrap Jumbotron Styles
---------------------------------- */
.jumbotron {
  position: relative;
  background: url('../images/img-main-screen.jpg');
  background-size: cover;
  background-position: center;
  min-height: 512px;
  margin: 0;
  border-radius: 0;
}
/* --------------------------------
Readjusted Bootstrap Pagination Styles
---------------------------------- */
.pagination {
  margin-top: 60px;

  .page {
    &-item {
      border-color: $primary-color;

      a {
        color: $primary-color;
      }

      &.active {
        a {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}
/* --------------------------------
Readjusted Bootstrap Nav Tabs Styles
---------------------------------- */
.lot {
  .nav {
    &-tabs {
      .nav {
        &-link {
          &.active {
            border-top: 4px solid $primary-color;
          }
        }
      }
    }
  }
}

.office {
  .nav {
    &-tabs {
      border-bottom: 0;

      .nav {
        &-link {
          @include padding(2.1vw, 3.4vw, 2.1vw, 3.4vw);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          color: $primary-text-color;

          &.active {
            font-weight: 600;
            color: $primary-color;
            border-bottom: 4px solid $primary-color;
          }
        }
      }
    }
  }
}

.auctions,
.auction-detail,
.bids,
.bid-detail,
.messages,
.message-detail {
  .navbar {
    &-light {
      .navbar {
        &-nav {
          .nav {
            &-link {
              font-size: 14px;
              color: $primary-text-color;

              &:hover {
                background-color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}
/* ---------------------------------------
    Readjusted Bootstrap Table Styles
   --------------------------------------- */
.table thead th {
  vertical-align: middle;
}
/* ---------------------------------------
    Readjusted Webui Popover Styles
   --------------------------------------- */
.webui-popover-content {
  padding: 0 !important;
}

/* CONTACTS page styles */
.contacts {
  &-texarea {
    resize: none;
  }
  &-headers {
    font-weight: 700;
  }
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > iframe{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* AUCTION DETAIL page styles */

.auction-detail {
  padding-bottom: 80px;
  &-number {
    font-size: 27px;
    font-weight: 700;
  }
  &-back-arrow{
    padding-left: 20px;
    background: url('../images/arrow.png') no-repeat 0 50%;

  }
}
