@import url( 'https://fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=cyrillic');
@import "buttons", "forms";

body {
  font-family: 'Exo 2', sans-serif;
  color: $primary-text-color;
  font-size: 16px;
}
@for $i from 1 through 3 {
  h#{$i} {
    font-size: 3.5rem - ($i - 1);
    font-weight: bold;
  }
}

h4 {
  font-size: 18px;
}

.site {
  &-header {}

  &-content {}

  &-footer {
    background-color: $secondary-color;
    @include padding(40px, 0, 16px, 0);
  }
}

.banner {
  min-height: 80px;
}

.logo {
  &-prozorro {
    margin-left: 37px;
  }
}

.accredit {
  display: inline-block;
  margin-left: 9px;
  margin-bottom: 0.2rem;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.2;
}

.contact-info {
  display: inline-block;
  @include padding(0, 15px, 0, 15px);
  line-height: 1.3;
  vertical-align: middle;

  a[href^="tel:"] {
    color: $primary-text-color;
    text-decoration: none;
  }
}

.overlay {
  position: absolute;
  background: rgba(25,31,64,.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.jumbotron {
  &-content {
    position: relative;
    color: $reverse-text-color;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-subtitle {
    font-size: 26px;
  }

  &-factoid {
    @include padding(18px, 15px, 18px, 26px);
    border-left: 2px solid $primary-color;

    a {
      color: $reverse-text-color;
      border-bottom: 1px solid rgba(255,255,255,.5);

      &:hover {
        color: $reverse-text-color;
        border-bottom: 1px solid rgba(255,255,255,1);
        text-decoration: none;
      }
    }
  }
}

.publications {
  margin-bottom: 90px;

  &-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  &-search {
    position: relative;
    background-color: $secondary-color;
    @include padding(30px, 40px, 12px, 40px);
    border: 1px solid $border-color-light;
  }

  &-item {
    background-color: $reverse-color;
    @include padding(35px, 40px, 45px, 40px);
    border: 1px solid $border-color-light;

    &-title {
      margin-bottom: 20px;
    }
  }

  &-lot {}

  &-org {
    margin-bottom: 10px;

    &-info {
      padding: 10px;
    }
  }

  &-type {
    border-left: 1px solid $border-color-dark;
    @each $type in fa, mlb, dutch {
      &-#{$type} {
        background-image: url('../images/#{$type}-icon.png');
        background-repeat: no-repeat;
        background-position: 20px 50%;
        border-left: 1px solid $border-color-dark;
        @include subtitle-secondary;

        p {
          padding-left: 60px;
          line-height: 3.5;
        }
      }
    }
  }

  &-status {}

  &-left {
    &-time {
      font-size: 18px;
    }
  }

  &-starting {
    &-price {
      &-value {
        font-size: 18px;
      }
    }
  }
}

.subtitle {
  &-primary {
    color: $primary-color;
    font-weight: normal;
  }
  &-secondary {
    color: $secondary-text-color-dark;
    font-weight: normal;
  }
}

.how-it-works {
  margin-bottom: 60px;

  &-title {
    // margin-bottom: 54px;
  }

  &-list {
    font-size: 18px;

    &-item {
      margin-bottom: 20px;
    }

    &-title {
      color: $primary-text-color;
    }

    &-description {
      padding-left: 46px;
      padding-right: 50px;
      font-weight: normal;
      font-size: 16px;

      &:before {
        position: absolute;
        content: "\2014";
        font-size: 36px;
        line-height: 0.5;
        color: $primary-color;
        left: 0;
        top: 0;
      }
    }
  }
}

.register {
  &-block {
    background-color: $secondary-color;
    display: inline-block;
    width: 100%;
    @include padding(7px, 73px !important, 70px, 73px !important);

    h3 {
      margin-top: 45px;
    }

    p {
      font-size: 14px;
    }
  }
}

.statistics {
  background-color: $primary-color;
  @include padding(60px, 0, 82px, 0);

  p {
    margin: 0;
    color: $reverse-text-color;
    line-height: 1.2;
  }

  &-numbers {
    font-size: 74px;
    font-weight: bold;
    line-height: 1.2;
  }
}

.latest {
  &-news {
    background-color: $secondary-color;
    @include padding(100px, 0, 100px, 0);

    &-thumbnail {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      img {
        max-width: 100%;
      }
    }
  }
}
@each $block in how-it-works, latest-news {
  .#{$block}-title {
    @include margin-bottom(54px);
  }
}

.about {
  &-us {
    @include padding(100px, 0, 100px, 0);
  }
}

.lot {
  @include padding(60px, 0, 100px, 0);
  &-title {
    font-weight: normal;
  }
  &-info {
    position:sticky;
    top:50px;
    background-color: $secondary-color;
    @include padding(40px, 40px, 40px, 40px);
  }
  &-subdescription {
    background-color: $secondary-color;
    padding: 5px;
    @include subtitle-secondary;
  }
  &-doc {
    padding-left: 72px;
    @each $type in doc, txt, jpg, png, xls, pdf, href, default {
      &-#{$type} {
        background-image: url('../images/icon-doc-#{$type}.png');
        background-repeat: no-repeat;
        background-position: 15px 0;
      }
    }
  }
}

.news {
  margin-bottom: 90px;
  &-title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  &-item {
    position: relative;
    padding-bottom: 45px;
    margin-bottom: 41px;
    &:after{
      position: absolute;
      content: " ";
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      border-bottom: 1px solid $border-color-light;
    }
    &-title {
      a {
        font-weight: normal;
        color: $primary-text-color;
        &:hover {
          color: $primary-link-color;
          border-bottom: 1px solid;
        }
      }
    }
  }
  &-post {
    position: relative;
    @include padding(60px, 0, 150px, 0);
    &-content {
      padding-bottom: 60px;
      &:after {
        position: absolute;
        left: 15px ;
        bottom: 0;
        content: " ";
        width: calc(100% - 30px);
        border-bottom: 1px solid $border-color-light;
      }
    }
    &-title {
      margin-bottom: 20px;
      font-weight: normal;
    }
    &-image {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
  &-date {
    background: url('../images/icon-calendar.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 20px;
    color: $primary-color;
  }
}

.other {
  &-news {
    ul {
      // position:sticky;
      // top:50px;
      list-style-type: none;
    }
    &-title {
      margin-bottom: 40px;
      font-weight: bold;
      line-height: 22px;
    }
    &-item {
      margin-bottom: 40px;
      p {
        a {
          color: $primary-text-color;
        }
      }
    }
  }
}

/* ---------------------------------------
    Readjusted Bootstrap Navs Styles
   --------------------------------------- */
.bg {
  &-primary {
    background-color: $primary-color !important;
    @include padding(0, 0, 0, 0);

    .navbar-nav {
      .nav {
        // &-item {
        //   &:first-child {
        //     a {
        //       padding-left: 0;
        //     }
        //   }
        // }
        &-link {
          @include padding(13.5px, 1.7vw, 13.5px, 1.7vw);
          color: $reverse-text-color;
          transition: background-color 0.2s;

          &:hover {
            background-color: lighten($primary-color, 10%);
            color: $reverse-text-color;
          }
        }
      }
    }

    .social {
      .nav {
        &-item {}

        &-link {
          @include padding(13.5px, 15px, 13.5px, 15px);
        }
      }
    }
  }

  &-secondary {
    background-color: $secondary-color !important;
    @include padding(0, 0, 0, 0);

    .navbar-nav {
      .nav {
        &-link {
          @include padding(13.5px, 1.7vw, 13.5px, 1.7vw);
          color: $primary-text-color;
          transition: background-color 0.2s;
          text-decoration: underline;

          &:hover {
            background-color: none;
            color: $primary-color;
          }
        }
      }
    }

    .social {
      .nav {
        &-item {}

        &-link {
          @include padding(13.5px, 15px, 13.5px, 15px);
        }
      }
    }
  }
}

.copyright {
  color: $secondary-text-color;
  padding-top: 14px;
  border-top: 1px solid;
}
/* --------------------------------
  Readjusted Bootstrap Link Styles
---------------------------------- */
a {
  &:hover {
    text-decoration: none;
  }
}
/* --------------------------------
Readjusted Bootstrap Jumbotron Styles
---------------------------------- */
.jumbotron {
  position: relative;
  background: url('../images/img-main-screen.jpg');
  min-height: 512px;
  margin: 0;
  border-radius: 0;
}
/* --------------------------------
Readjusted Bootstrap Pagination Styles
---------------------------------- */
.pagination {
  margin-top: 60px;

  .page {
    &-item {
      border-color: $primary-color;
      a {
        color: $primary-color;
      }
      &.active {
        a {
          background-color: $primary-color;
          border-color: $primary-color;
        }
      }
    }
  }
}

/* --------------------------------
Readjusted Bootstrap Nav Tabs Styles
---------------------------------- */
.nav {
  &-tabs {
    .nav {
      &-link {
        &.active {
          border-top: 4px solid $primary-color;
        }
      }
    }
  }
}


/* ---------------------------------------
    Readjusted Bootstrap Table Styles
   --------------------------------------- */
.table thead th {
  vertical-align: middle;
}
