@import url("https://fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=cyrillic");
@media (min-width: 1260px) {
  .container {
    max-width: 1230px; } }

.btn-signin {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-left: 15px; }

.btn-signup {
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 8px;
  padding-left: 27px;
  margin-left: 12px; }

/* Readjusted Bootstrap Buttons styles */
.btn-primary {
  background-color: #5c6bc0;
  border-color: #5c6bc0; }
  .btn-primary:hover {
    background-color: #818cce;
    border-color: #818cce; }
  .btn-primary:focus {
    box-shadow: inset 0 -3px 0 #5c6bc0; }

.btn-warning:hover {
  background-color: #ffce3a;
  border-color: #ffce3a; }

.btn-warning:focus {
  box-shadow: inset 0 -3px 0 #fec107; }

.btn-outline-primary {
  background-color: transparent;
  color: #5c6bc0;
  border-color: #5c6bc0; }
  .btn-outline-primary:hover {
    background-color: #5c6bc0;
    border-color: #5c6bc0; }

.link-primary {
  color: #4470b2;
  border-bottom: 1px solid transparent; }
  .link-primary:hover {
    color: #5c6bc0;
    border-bottom: 1px solid; }

.link-secondary {
  background-color: transparent;
  border: 0;
  color: #4470b2;
  border-bottom: 1px dashed transparent;
  cursor: pointer; }
  .link-secondary:hover, .link-secondary:active {
    background-color: transparent;
    border-bottom: 1px dashed;
    color: #4470b2; }
  .link-secondary:focus {
    box-shadow: none;
    outline: 0; }

.link-copyright {
  color: #c6cacc; }

body {
  font-family: 'Exo 2', sans-serif;
  color: #222222;
  font-size: 16px; }

h1 {
  font-size: 3.5rem;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  font-weight: bold; }

h3 {
  font-size: 1.5rem;
  font-weight: bold; }

h4 {
  font-size: 18px; }

.site-footer {
  background-color: #f0f1f2;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0; }

.banner {
  min-height: 80px; }

.logo-prozorro {
  margin-left: 37px; }

.accredit {
  display: inline-block;
  margin-left: 9px;
  margin-bottom: .2rem;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.2; }

.contact-info {
  display: inline-block;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  line-height: 1.3;
  vertical-align: middle; }
  .contact-info a[href^="tel:"] {
    color: #222222;
    text-decoration: none; }

.overlay {
  position: absolute;
  background: rgba(25, 31, 64, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.jumbotron-content {
  position: relative;
  color: #fff; }

.jumbotron-title {
  margin-bottom: 40px; }

.jumbotron-subtitle {
  font-size: 26px; }

.jumbotron-factoid {
  padding-top: 18px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-left: 2px solid #5c6bc0; }
  .jumbotron-factoid a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .jumbotron-factoid a:hover {
      color: #fff;
      border-bottom: 1px solid white;
      text-decoration: none; }

.publications {
  margin-bottom: 90px; }
  .publications-search {
    position: relative;
    background-color: #f0f1f2;
    margin-top: -117px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    border: 1px solid #dcdde0; }
  .publications-item {
    background-color: #fff;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    border: 1px solid #dcdde0; }
  .publications-title {
    margin-bottom: 20px; }
  .publications-org {
    margin-bottom: 10px; }
    .publications-org-info {
      padding: 10px; }
  .publications-type {
    border-left: 1px solid #c6cacc; }
    .publications-type-fa {
      background-image: url("../images/fa-icon.png");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      border-left: 1px solid #c6cacc;
      color: #c6cacc; }
      .publications-type-fa p {
        padding-left: 60px;
        line-height: 3.5; }
    .publications-type-mlb {
      background-image: url("../images/mlb-icon.png");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      border-left: 1px solid #c6cacc;
      color: #c6cacc; }
      .publications-type-mlb p {
        padding-left: 60px;
        line-height: 3.5; }
  .publications-left-time {
    font-size: 18px; }
  .publications-starting-price-value {
    font-size: 18px; }

.subtitle-secondary {
  color: #c6cacc;
  font-weight: normal; }

.how-it-works {
  margin-bottom: 60px; }
  .how-it-works-list {
    font-size: 18px; }
    .how-it-works-list-item {
      margin-bottom: 20px; }
    .how-it-works-list-title {
      color: #222222; }
    .how-it-works-list-description {
      padding-left: 46px;
      padding-right: 50px;
      font-weight: normal;
      font-size: 16px; }
      .how-it-works-list-description:before {
        position: absolute;
        content: "\2014";
        font-size: 36px;
        line-height: .5;
        color: #5c6bc0;
        left: 0;
        top: 0; }

.register-block {
  background-color: #f0f1f2;
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  padding-right: 73px !important;
  padding-bottom: 70px;
  padding-left: 73px !important; }
  .register-block h3 {
    margin-top: 45px; }
  .register-block p {
    font-size: 14px; }

.statistics {
  background-color: #5c6bc0;
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 82px;
  padding-left: 0; }
  .statistics p {
    margin: 0;
    color: #fff;
    line-height: 1.2; }
  .statistics-numbers {
    font-size: 74px;
    font-weight: bold;
    line-height: 1.2; }

.latest-news {
  background-color: #f0f1f2;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0; }
  .latest-news-thumbnail {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
    .latest-news-thumbnail img {
      max-width: 100%; }

.how-it-works-title {
  margin-bottom: 54px; }

.latest-news-title {
  margin-bottom: 54px; }

.about-us {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0; }

/* ---------------------------------------
    Readjusted Bootstrap Navs Styles
   --------------------------------------- */
.bg-primary {
  background-color: #5c6bc0 !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .bg-primary .navbar-nav .nav-link {
    padding-top: 13.5px;
    padding-right: 1.7vw;
    padding-bottom: 13.5px;
    padding-left: 1.7vw;
    color: #fff;
    transition: background-color .2s; }
    .bg-primary .navbar-nav .nav-link:hover {
      background-color: #818cce;
      color: #fff; }
  .bg-primary .social .nav-link {
    padding-top: 13.5px;
    padding-right: 15px;
    padding-bottom: 13.5px;
    padding-left: 15px; }

.bg-secondary {
  background-color: #f0f1f2 !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .bg-secondary .navbar-nav .nav-link {
    padding-top: 13.5px;
    padding-right: 1.7vw;
    padding-bottom: 13.5px;
    padding-left: 1.7vw;
    color: #222222;
    transition: background-color .2s;
    text-decoration: underline; }
    .bg-secondary .navbar-nav .nav-link:hover {
      background-color: none;
      color: #5c6bc0; }
  .bg-secondary .social .nav-link {
    padding-top: 13.5px;
    padding-right: 15px;
    padding-bottom: 13.5px;
    padding-left: 15px; }

.copyright {
  color: #c6cacc;
  padding-top: 14px;
  border-top: 1px solid; }

/* --------------------------------
  Readjusted Bootstrap Link Styles
---------------------------------- */
a:hover {
  text-decoration: none; }

/* --------------------------------
Readjusted Bootstrap Jumbotron Styles
---------------------------------- */
.jumbotron {
  position: relative;
  background: url("../images/img-main-screen.jpg");
  min-height: 512px;
  margin: 0;
  border-radius: 0; }
