@import url("https://fonts.googleapis.com/css?family=Exo+2:400,500,700&subset=cyrillic");
.btn-signin {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-left: 15px; }

.btn-signup {
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 8px;
  padding-left: 27px;
  margin-left: 12px; }

/* Readjusted Bootstrap Buttons styles */
.btn-primary {
  background-color: #5c6bc0;
  border-color: #5c6bc0; }
  .btn-primary:hover {
    background-color: #818cce;
    border-color: #818cce; }
  .btn-primary:focus, .btn-primary:active {
    background-color: #818cce;
    border-color: #818cce;
    box-shadow: inset 0 -3px 0 #5c6bc0; }

.btn-warning:hover {
  background-color: #ffce3a;
  border-color: #ffce3a; }

.btn-warning:focus, .btn-warning:active {
  background-color: #ffce3a;
  border-color: #ffce3a;
  box-shadow: inset 0 -3px 0 #fec107; }

.btn-outline-primary {
  background-color: transparent;
  color: #5c6bc0;
  border-color: #5c6bc0; }
  .btn-outline-primary:hover {
    background-color: #5c6bc0;
    border-color: #5c6bc0; }

.link-primary {
  color: #4470b2;
  border-bottom: 1px solid transparent; }
  .link-primary:hover {
    color: #5c6bc0;
    border-bottom: 1px solid; }

.link-secondary {
  background-color: transparent;
  border: 0;
  color: #4470b2;
  border-bottom: 1px dashed transparent;
  cursor: pointer; }
  .link-secondary:hover, .link-secondary:active {
    background-color: transparent;
    border-bottom: 1px dashed;
    color: #4470b2; }
  .link-secondary:focus {
    box-shadow: none;
    outline: 0; }

.link-copyright {
  color: #c6cacc; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif;
  color: #222222;
  font-size: 16px;
  height: 100vh; }

h1 {
  font-size: 3.5rem;
  font-weight: bold; }

h2 {
  font-size: 2.5rem;
  font-weight: bold; }

h3 {
  font-size: 1.5rem;
  font-weight: bold; }

h4 {
  font-size: 18px; }

.site-content {
  -ms-flex: 1;
  flex: 1; }

.site-footer {
  background-color: #f0f1f2;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 16px;
  padding-left: 0; }

.banner {
  position: relative;
  min-height: 80px; }

.logo-prozorro {
  margin-left: 37px; }

.accredit {
  margin-left: 9px;
  margin-bottom: 0.2rem;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.2; }

.contact-info {
  display: inline-block;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  line-height: 1.3;
  vertical-align: middle; }
  .contact-info a[href^="tel:"] {
    color: #222222;
    text-decoration: none; }
  .contact-info-mini {
    padding: 40px 0; }
    .contact-info-mini a[href^="tel:"] {
      color: #222222;
      text-decoration: none; }

.menu-mini-reg, .menu-mini-list {
  position: fixed;
  display: none;
  background-color: #fff;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-left: 15px;
  top: 0;
  width: 100%;
  z-index: 100; }

.menu-mini-list {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  width: 50%;
  right: 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
  .menu-mini-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #dcdde0; }
    .menu-mini-list ul li {
      margin-bottom: 30px; }
      .menu-mini-list ul li a {
        font-size: 18px; }
  .menu-mini-list-footer {
    position: fixed;
    display: none;
    background-color: #f0f1f2;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 100;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25); }
    .menu-mini-list-footer ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .menu-mini-list-footer ul li {
        margin-bottom: 30px; }
        .menu-mini-list-footer ul li a {
          font-size: 18px; }

.menu-mini-close {
  position: absolute;
  background-color: #fff;
  top: 30px;
  right: 30px;
  border: 0; }
  .menu-mini-close-footer {
    position: absolute;
    background-color: #f0f1f2;
    top: 30px;
    right: 30px;
    border: 0; }

.menu-mini-title {
  margin-bottom: 30px; }

.overlay {
  position: absolute;
  background: rgba(25, 31, 64, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.jumbotron-content {
  position: relative;
  color: #fff; }

.jumbotron-title {
  margin-bottom: 40px; }

.jumbotron-subtitle {
  font-size: 26px; }

.jumbotron-factoid {
  padding-top: 18px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-left: 2px solid #5c6bc0; }
  .jumbotron-factoid a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .jumbotron-factoid a:hover {
      color: #fff;
      border-bottom: 1px solid white;
      text-decoration: none; }

.publications {
  margin-bottom: 90px; }
  .publications-title {
    margin-top: 60px;
    margin-bottom: 40px; }
  .publications-search {
    position: relative;
    background-color: #f0f1f2;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    border: 1px solid #dcdde0; }
  .publications-overlapped {
    margin-top: calc(-117px - 1rem); }
  .publications-item {
    background-color: #fff;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
    border: 1px solid #dcdde0; }
    .publications-item-title {
      margin-bottom: 20px; }
  .publications-org {
    margin-bottom: 10px; }
    .publications-org-info {
      padding: 10px; }
  .publications-type {
    border-left: 1px solid #c6cacc; }
    .publications-type-fa {
      background-image: url("../images/fa-icon.png");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      border-left: 1px solid #c6cacc;
      color: #666666; }
      .publications-type-fa p {
        padding-left: 60px;
        line-height: 3.5; }
    .publications-type-mlb {
      background-image: url("../images/mlb-icon.png");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      border-left: 1px solid #c6cacc;
      color: #666666; }
      .publications-type-mlb p {
        padding-left: 60px;
        line-height: 3.5; }
    .publications-type-dutch {
      background-image: url("../images/dutch-icon.png");
      background-repeat: no-repeat;
      background-position: 20px 50%;
      border-left: 1px solid #c6cacc;
      color: #666666; }
      .publications-type-dutch p {
        padding-left: 60px;
        line-height: 3.5; }
  .publications-left-time {
    font-size: 18px; }
  .publications-starting-price-value {
    font-size: 18px; }

.subtitle-primary {
  color: #5c6bc0;
  font-weight: normal; }

.subtitle-secondary {
  color: #666666;
  font-weight: normal; }

.how-it-works {
  margin-bottom: 60px; }
  .how-it-works-list {
    font-size: 18px; }
    .how-it-works-list-item {
      margin-bottom: 20px; }
    .how-it-works-list-title {
      color: #222222; }
    .how-it-works-list-description {
      padding-left: 46px;
      padding-right: 50px;
      font-weight: normal;
      font-size: 16px; }
      .how-it-works-list-description:before {
        position: absolute;
        content: "\2014";
        font-size: 36px;
        line-height: 0.5;
        color: #5c6bc0;
        left: 0;
        top: 0; }

.register-block {
  background-color: #f0f1f2;
  display: inline-block;
  min-width: 100%;
  padding-top: 7px;
  padding-right: 3.8vw !important;
  padding-bottom: 70px;
  padding-left: 3.8vw !important; }
  .register-block h3 {
    margin-top: 45px; }
  .register-block p {
    font-size: 14px; }

.statistics {
  background-color: #5c6bc0;
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 82px;
  padding-left: 0; }
  .statistics p {
    margin: 0;
    color: #fff;
    line-height: 1.2; }
  .statistics-numbers {
    font-size: 74px;
    font-weight: bold;
    line-height: 1.2; }

.latest-news {
  background-color: #f0f1f2;
  padding-top: 5.2vw;
  padding-right: 0;
  padding-bottom: 5.2vw;
  padding-left: 0; }
  .latest-news-thumbnail {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important; }
    .latest-news-thumbnail img {
      max-width: 100%; }

.how-it-works-title {
  margin-bottom: 54px; }

.latest-news-title {
  margin-bottom: 54px; }

.about-us {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0; }

.lot {
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0; }
  .lot-title {
    font-weight: normal; }
  .lot-info {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background-color: #f0f1f2;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px; }
  .lot-subdescription {
    background-color: #f0f1f2;
    padding: 5px;
    color: #666666; }
  .lot-doc {
    padding-left: 72px; }
    .lot-doc-doc {
      background-image: url("../images/icon-doc-doc.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-txt {
      background-image: url("../images/icon-doc-txt.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-jpg {
      background-image: url("../images/icon-doc-jpg.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-png {
      background-image: url("../images/icon-doc-png.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-xls {
      background-image: url("../images/icon-doc-xls.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-pdf {
      background-image: url("../images/icon-doc-pdf.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-href {
      background-image: url("../images/icon-doc-href.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }
    .lot-doc-default {
      background-image: url("../images/icon-doc-default.png");
      background-repeat: no-repeat;
      background-position: 15px 0; }

.news {
  margin-bottom: 90px; }
  .news-title {
    margin-top: 60px;
    margin-bottom: 40px; }
  .news-item {
    position: relative;
    padding-bottom: 45px;
    margin-bottom: 41px; }
    .news-item:after {
      position: absolute;
      content: " ";
      left: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      border-bottom: 1px solid #dcdde0; }
    .news-item-title a {
      font-weight: normal;
      color: #222222; }
      .news-item-title a:hover {
        color: #4470b2;
        border-bottom: 1px solid; }
  .news-post {
    position: relative;
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 150px;
    padding-left: 0; }
    .news-post-content {
      padding-bottom: 60px; }
      .news-post-content:after {
        position: absolute;
        left: 15px;
        bottom: 0;
        content: " ";
        width: calc(100% - 30px);
        border-bottom: 1px solid #dcdde0; }
    .news-post-title {
      margin-bottom: 20px;
      font-weight: normal; }
    .news-post-image {
      margin-top: 30px;
      margin-bottom: 50px; }
  .news-date {
    background: url("../images/icon-calendar.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 20px;
    color: #5c6bc0; }

.other-news ul {
  list-style-type: none; }

.other-news-title {
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 22px; }

.other-news-item {
  margin-bottom: 40px; }
  .other-news-item p a {
    color: #222222; }

.copyright {
  color: #c6cacc;
  padding-top: 14px; }

.faq-item {
  position: relative;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-bottom: 40px; }
  .faq-item:after {
    position: absolute;
    content: " ";
    right: 40px;
    bottom: 0;
    width: 60%;
    border-bottom: 1px solid #dcdde0; }
  .faq-item-header {
    margin-bottom: 20px; }

.registration-block {
  background-color: #f0f1f2;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px; }
  .registration-block .form-check-label {
    font-size: 14px; }

.custom-addon {
  position: relative;
  background-color: #fff;
  border-left: 0 !important;
  color: #4470b2; }
  .custom-addon:hover:after {
    position: absolute;
    left: 12.5%;
    bottom: 8px;
    width: 75%;
    content: "";
    border-bottom: 1px dashed; }

.custom-radio {
  background-color: #fff;
  border: 1px solid #c6cacc; }
  .custom-radio.active {
    background-color: #5c6bc0;
    color: #fff; }
    .custom-radio.active:focus, .custom-radio.active.focus {
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25); }

/* ---------------------------------------
    Readjusted Bootstrap Navs Styles
   --------------------------------------- */
.bg-primary {
  background-color: #5c6bc0 !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .bg-primary .navbar-nav .nav-link {
    padding-top: 13.5px;
    padding-right: 1.7vw;
    padding-bottom: 13.5px;
    padding-left: 1.7vw;
    color: #fff;
    transition: background-color 0.2s; }
    .bg-primary .navbar-nav .nav-link:hover {
      background-color: #818cce;
      color: #fff; }
  .bg-primary .social .nav-link {
    padding-top: 13.5px;
    padding-right: 15px;
    padding-bottom: 13.5px;
    padding-left: 15px; }

.bg-secondary {
  background-color: #f0f1f2 !important;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .bg-secondary .navbar-nav .nav-link {
    padding-top: 13.5px;
    padding-right: 1.7vw;
    padding-bottom: 13.5px;
    padding-left: 1.7vw;
    color: #222222;
    transition: background-color 0.2s;
    text-decoration: underline; }
    .bg-secondary .navbar-nav .nav-link:hover {
      background-color: none;
      color: #5c6bc0; }
  .bg-secondary .social .nav-link {
    padding-top: 13.5px;
    padding-right: 15px;
    padding-bottom: 13.5px;
    padding-left: 15px; }

/* --------------------------------
  Readjusted Bootstrap Link Styles
---------------------------------- */
a:hover {
  text-decoration: none; }

/* --------------------------------
Readjusted Bootstrap Jumbotron Styles
---------------------------------- */
.jumbotron {
  position: relative;
  background: url("../images/img-main-screen.jpg");
  background-size: cover;
  background-position: center;
  min-height: 512px;
  margin: 0;
  border-radius: 0; }

/* --------------------------------
Readjusted Bootstrap Pagination Styles
---------------------------------- */
.pagination {
  margin-top: 60px; }
  .pagination .page-item {
    border-color: #5c6bc0; }
    .pagination .page-item a {
      color: #5c6bc0; }
    .pagination .page-item.active a {
      background-color: #5c6bc0;
      border-color: #5c6bc0; }

/* --------------------------------
Readjusted Bootstrap Nav Tabs Styles
---------------------------------- */
.nav-tabs .nav-link.active {
  border-top: 4px solid #5c6bc0; }

/* ---------------------------------------
    Readjusted Bootstrap Table Styles
   --------------------------------------- */
.table thead th {
  vertical-align: middle; }

@media (min-width: 1260px) {
  .container {
    max-width: 1230px; } }

@media (max-width: 991px) {
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 40px; }
  .banner .container, .publications .container, .site-footer .container {
    max-width: 100%; }
  .jumbotron-factoid {
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    border-left: 0; }
  .publications-overlapped {
    margin-top: 0; }
  .how-it-works {
    margin-bottom: 0;
    padding: 0; }
  .social .nav-link {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px; } }

@media (max-width: 767px) {
  .statistics-numbers {
    display: block; } }

@media (max-width: 575px) {
  h1, h2 {
    font-size: 30px; }
  .menu-mini-list {
    width: 100%;
    height: 100%; }
    .menu-mini-list ul li {
      margin-bottom: 12px; }
    .menu-mini-list-footer {
      position: fixed;
      display: none;
      background-color: #f0f1f2;
      padding-top: 60px;
      padding-right: 15px;
      padding-bottom: 60px;
      padding-left: 15px;
      height: 100%;
      bottom: 0;
      width: 100%;
      z-index: 100; }
      .menu-mini-list-footer ul {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .menu-mini-list-footer ul li {
          margin-bottom: 30px; }
          .menu-mini-list-footer ul li a {
            font-size: 18px; }
  .jumbotron {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 0; }
    .jumbotron-subtitle {
      font-size: 22px;
      line-height: 1; }
    .jumbotron-factoid h4 {
      font-size: 1rem; }
  .publications-search {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px; }
  .publications-item {
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px; }
  .how-it-works-list-description {
    padding-left: 55px;
    padding-right: 15px; }
    .how-it-works-list-description:before {
      left: 015px; }
  .latest-news-title {
    margin-top: 32px;
    margin-bottom: 40px; }
  .about-us {
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 70px;
    padding-left: 0; } }

@media (max-height: 568px) {
  .jumbotron {
    min-height: calc(100vh - 80px); } }
