@mixin padding($paddingTop, $paddingRight, $paddingBottom, $paddingLeft) {
  padding: {
    top: $paddingTop;
    right: $paddingRight;
    bottom: $paddingBottom;
    left: $paddingLeft;
  };
}

@mixin subtitle-secondary {
  color: $secondary-text-color-dark;
}

@mixin margin-bottom($value) {
  margin: {
    bottom: $value;
  }
}
