$primary-color: #5c6bc0;
$warning-color: #ffc107;
$secondary-color: #f0f1f2;
$reverse-color: #fff;
$primary-text-color: #222222;
$reverse-text-color: $reverse-color;
$secondary-text-color: #c6cacc;
$primary-link-color: #4470b2;
$border-color-light: #dcdde0;
$border-color-dark: $secondary-text-color;
