$primary-color: #5c6bc0;
$warning-color: #ffc107;
$secondary-color: #f0f1f2;
$primary-text-color: #222222;
$reverse-text-color: #fff;
$secondary-text-color: $secondary-color;
$primary-link-color: #4470b2;
